html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0 }
ol, ul { list-style-type: none; }
table { border-collapse: collapse; border-spacing: 0; }
:focus { outline: 0; }
button::-moz-focus-inner { padding: 0; border: 0; }

body, h1, h2, h3, h4, h5, h6, button, input, textarea, small, big { font-size:100% }
html { height: 100%; width:100% }
a { outline: none; text-decoration: none; }
p { margin: 0.5em 0; }
textarea { overflow: auto; }

/* utility */
.clear { clear: both; display: block; margin: 0; padding: 0; }
.clear-after:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }
.float-left { float: left; }
.float-right { float: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }
.relative { position: relative; }
.dynamic-center { margin: 0 auto; }
.opacity0 { opacity: 0; position:absolute; }
.opacity50 { opacity: .50; }
.clickable { cursor: pointer; }
.table-center { margin:auto;}
.hide { display: none; }
.img { vertical-align: bottom; }
.row-hidden { display: none !important; }

/* borders */
.border-2 { -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.border-3 { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.border-4 { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.border-5 { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.border-6 { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
.border-7 { -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; }
.border-8 { -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
.border-9 { -moz-border-radius: 9px; -webkit-border-radius: 9px; border-radius: 9px; }
.border-10 { -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }

/* d3 colors */
.d3-color-blue, .d3-color-blue a { color: #6969ff !important; }
.d3-color-gray, .d3-color-gray a { color: #909090 !important; }
.d3-color-gold, .d3-color-gold a { color: #c7b377 !important; }
.d3-color-green, .d3-color-green a { color: #00ff00 !important; }
.d3-color-orange, .d3-color-orange a { color: #bf642f !important; }
.d3-color-purple, .d3-color-purple a { color: #a335ee !important; }
.d3-color-red, .d3-color-red a { color: #ff0000 !important; }
.d3-color-white, .d3-color-white a { color: #fff !important; }
.d3-color-yellow, .d3-color-yellow a { color: #ffff00 !important; }/* footer */
#footer { font: normal 12px "Lucida Sans Unicode", Arial, Helvetica, sans-serif; padding: 25px 0; }
#footer a { color: #697489; }
#footer a:hover { color: #dcdcdc; }
#footer h3,
#footer h3 a { font-weight: normal; font-size: 13px; color: #b2bac7; text-transform: uppercase; }
#footer-promotions { float: right; width: 302px; padding-bottom: 20px; }
#footer-promotions a { color: #b2bac7; }
#sitemap h3 { border-bottom: 2px solid #414a56; padding-bottom: 10px; margin-bottom: 10px; padding-left: 20px; background: url("../images/icons/footer.png") no-repeat; }
#sitemap h3.bnet { background-position: 0 0 }
#sitemap h3.games { background-position: 2px -50px }
#sitemap h3.classic { background-position: 0 -100px }
#sitemap h3.account { background-position: 2px -150px; padding-left: 23px; }
#sitemap h3.support { background-position: 0 -200px; padding-left: 23px; }
#sitemap .column { float: left; width: 25%; padding-bottom: 20px }
#sitemap .column ul a { display: block; margin: 2px 0; }
#sitemap.promotions .column { width: 170px; }
#copyright { color: #2a2c2f; border-top: 1px solid #414a56; text-transform: uppercase; font-size: 10px; clear: both; padding: 10px 0;  }
#copyright a { margin-left: 15px; color: #b2bac7; }
#copyright .legal-links { display: block;}
#copyright .legal-links a { margin: 0 8px 0 0 }
#legal { padding: 15px 0; }
#legal a { display: inline-block; vertical-align: top; }
#legal #legal-ratings { float: right; vertical-align: top; }
#legal #legal-ratings img { vertical-align: top; }
#legal #legal-ratings a { margin-left: 10px; }

/* misc */
#ajax_error { display:none; }
.response-error { border: 1px solid #c90000 !important; -moz-box-shadow: 0 0 20px -1px #c90000; box-shadow: 0 0 20px -1px #c90000; } /*general input error style*/

/* error page */
.server-error #content .content-top { background: no-repeat; }
#server-error { width: 375px; margin: 0 auto; padding-top: 150px; text-align: center; font-size: 18px; min-height: 900px; }
#server-error h2 { font-size:125px; }
#server-error h2.http { font-size: 85px; }
#server-error h3 { font-size:35px; margin-bottom: 50px; }
#server-error em { font-size: 12px; }
#server-error ul { font-size: 14px; text-align: left; list-style: disc; margin: 35px 0 0 35px; }
#server-error sup { font-size: 9px; }

/* warnings */
#warnings-wrapper { width: 100%; top: 33px; right: 0; position: absolute; z-index: 74; }
.warning { color: #c4bdb0; margin: 0 7px 0 55px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; -moz-box-shadow: 0 3px 4px #1d1d1d; box-shadow: 0 3px 4px #1d1d1d }
.warning a { color: #ffd800 }
.warning a:hover { color: #fff; }
.warning span { color: #fff }
.warning h3 { color: #fff; }
.warning p { margin: 10px 0 0 0; }
.warning .warning-inner { min-width: 380px; padding: 15px 10px 15px 15px; }
.warning .warning-inner2 { min-width: 380px; background: url("../images/icons/warning.png") 7px 11px no-repeat; padding: 15px 10px 10px 40px; position: relative; }
.warning .warning-close { margin: 4px 0 0 10px; display: block; position: absolute; top: 10px; right: 10px; width: 10px; height: 10px; overflow: hidden; background: url("../images/service-bar/close.gif"); }
.warning.warning-orange { background: #efa800 url("../images/service-bar/bg-orange.gif") 0 0 repeat-x; color:#6F3900; }
.warning.warning-green { background: #4c7141 url("../images/service-bar/bg-green.gif") 0 0 repeat-x }
.warning.warning-red { background: #742E03 url("../images/service-bar/bg-red.gif") 0 0 repeat-x }
#i18n-warning .warning-inner2 { background: url("../images/service-bar/globe.png") 12px 17px no-repeat; }#facebook-like, #google-plusone { width: 90px; height: 20px; overflow: hidden;}
#facebook-like { width: 250px;}
#qzone-like { width: 110px;height: 31px; overflow: hidden; border: none; margin:0;}
#renren-like { width: 130px; height: 31px; overflow: hidden; border: none; margin:0;}
.share-widgets {width:auto; height:16px; float:right;}
.share-widgets .share-title {font-size: 12px; padding:0 5px 0 0;}
.widget-default { background-color:#fff; padding:2px 1px 2px 2px; width:auto; height:16px; display: inline-block; -moz-border-radius:3px; -webkit-border-radius: 3px; border-radius:3px;  }
.widget-default a { background: url('../images/icons/widget.gif') no-repeat 0 0; width:16px; height:16px; display:inline-block; margin:0 1px 0 0}
.widget-default a:hover { opacity:0.8 }
.widget-default a.facebook { background-position:0 0 }
.widget-default a.twitter { background-position:0 -16px }
.widget-default a.mySpace { background-position:0 -32px }
.widget-default a.stumbleUpon { background-position:0 -48px }
.widget-default a.digg { background-position:0 -64px }
.widget-default a.me2day { background-position:0 -80px }
.widget-default a.c-log { background-position:0 -96px }
.widget-default a.minik { background-position:0 -112px }						
.widget-default a.micro-163 { background-position:0 -128px }
.widget-default a.micro-sina { background-position:0 -144px }
.widget-default a.kaixin { background-position:0 -160px }
.widget-default a.renren { background-position:0 -176px }
.widget-default a.plurk { background-position:0 -192px }
.widget-default a.reddit { background-position:0 -208px }
.widget-default a.studivz { background-position:0 -242px }
.widget-default a.tuenti { background-position:0 -224px }
.widget-default a.nasza-klasa { background-position:0 -272px }
.widget-default a.vkontakte { background-position:0 -288px }
.widget-default a.odnoklassniki { background-position:0 -304px }
.widget-default a.micro-qq { background-position:0 -320px }
.widget-default a.qzone { background-position:0 -336px }.ui-breadcrumb { list-style: none; margin: 0; padding: 0; float: left }
.ui-breadcrumb li { float: left; margin-right: 5px }
.ui-breadcrumb li.last { background: none }
.ui-breadcrumb li.childless a,
.ui-breadcrumb li.last a { border: none; }
.ui-breadcrumb li.children a { border-bottom: 1px dotted; }.ui-button-group { display: inline-block; }
.ui-button-group .button-left,
.ui-button-group .button-right,
.ui-button-group .button-mid,
.ui-button-group .button-solo { float: left; display: inline-block; margin-left: -1px; font-size: 11px; padding: 0 7px; height: 20px; line-height: 20px; z-index: 0; }
.ui-button-group .button-left { border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
.ui-button-group .button-right { border-top-right-radius: 5px; border-bottom-right-radius: 5px; }
.ui-button-group .button-solo { border-radius: 5px; }
.ui-button-group a:hover { position: relative; z-index: 1; }.ui-button,
.ui-cancel { background: none; border: 0; cursor: pointer; display: inline-block; height: auto; overflow: visible; padding: 0; margin: 0; vertical-align: middle; outline: none; text-align: center; white-space: nowrap; cursor: pointer; }
.ui-button span,
.ui-cancel span { outline: none; display: inline-block; }
.ui-button.disabled,
.ui-button.disabled:hover,
.ui-button.disabled.hover { cursor: default; }
.ui-button.processing,
.ui-button.processing:hover,
.ui-button.processing.hover { cursor: progress; }
