/*faqs_page_start*/
#body_container.spacer{ padding:19px 0 0}
.banner.faqs .left_box{ float:left; width:551px; padding:24px 0 0 0}
.banner.faqs h3{ float:none; padding:0; word-spacing:normal;} 
.banner.faqs p{ color: #022B45;font-family: 'DroidSansRegular';font-size: 30px;line-height: 34px;text-shadow: 0 0 2px #46B9F9; margin-left:5px}
.banner.faqs img{ margin:29px 71px 0 0} 
.faqs_content{ float:left; width:960px; padding:0 0 66px 0}
.faqs_content ul{ float:left; width:100%; list-style:none}
.faqs_content ul li{ float:left; width:958px; border:1px solid #d2d2d2; background:#fff;box-shadow: 0 0 6px 6px #EEEEEE; padding:0 0 11px 0; border-radius:5px; position:relative; margin-bottom:20px;behavior:url(PIE.htc);}
.faqs_content ul li .top_row{ float:left; width:945px;  padding:16px 0 0 13px;border-radius:7px 7px 0 0; margin:-1px -1px 0 -1px;behavior:url(PIE.htc); position:relative; cursor: pointer; }
.faqs_content ul li .top_row.active{ background:url(images/blue_gradient.jpg) repeat-x 0 0;border:1px solid #96cbeb; border-top:none; border-bottom:none; padding-bottom:12px} 
.faqs_content ul li .top_row span{ display:inline-block;font-size:20px; line-height:24px; color:#000000; margin-top:3px;font-family: 'robotoregular';}
.faqs_content ul li .top_row a{ float:left; width:30px; background:url(images/tab_icon.png) no-repeat 0 0 ; height:30px; margin-right:13px}
.faqs_content ul li .top_row a:hover{ background-position:100% -30px}
.faqs_content ul li .top_row.active a{ background-position:100% -30px}
.faqs_content ul li .detail_box{float:left; width:888px;  padding:22px 0 10px 23px; display:none}
.faqs_content ul li .detail_box p{ font-size:14px; line-height:19px; color:#525f66;font-family: 'DroidSansRegular';} 
/*faqs_page_end*/