body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana, sans-serif;
	line-height: 1.3em;
	background: #FFF;
	color: #666;
	text-align: center;
}

.step1 .inputbox, .step2 .inputbox {
	background: #fff;
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 12px;
	border: 1px solid #c5c5c5;
	height: 17px;
	padding: 3px 4px;
	color: #666;
	font-weight: 700;
	width: 170px;
}

.step1 .inputbox.error, .step2 .inputbox.error {
	border: 1px solid #f1b0b0;
	background: #ffe4e4;
	color: #cc6666;
}

.error {
	color: #cc6666;
}

.step1 select.inputbox { height: 25px; width: auto; }

/************** RESET **************/

h1, h2, h3, h4, h5, h6 { margin: 0; font-size: 14px; line-height: normal; }
a, a:link, a:visited  { color: #666; outline: none; text-decoration: none; }
a:hover { text-decoration: underline; }
ul { margin: 0; padding: 0; list-style: none; }
p { margin: 0; }
img { border: 0; }
label { font-weight: 700; }
form { margin: 0; padding: 0; }
input, textarea, select { font-size: 12px; margin: 0; }
input:focus, textarea:focus, select:focus { outline: none; }
.clr { clear: both; font-size: 0; line-height: 0; height: 0; display: block; }

/************** **************/

/************** BUTTON **************/

table.proceed {
	margin: 0 auto;
}

a.btn_proceed, a.btn_proceed:link, a.btn_proceed:visited { 
	float: left; 
	background: url(images/proceed.png) no-repeat right top;
	padding: 0 50px 0 0;
}

a.btn_proceed:hover {
	background: url(images/proceed.png) no-repeat right bottom;
	text-decoration: none;
}

a.btn_proceed span {
	float: left;
	background: url(images/proceed.png) no-repeat left top;
	height: 48px;
	padding: 0 0 0 20px;
	color: #fff;
	font-size: 18px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
	cursor: pointer;
}


.box {	
	width: 660px;
	background: #fff url(images/box_middle.gif) repeat-y left top;
	margin: 0 auto 20px;
	border-top: 1px solid #c6dbf4;
}

.box .box_bottom {
	background: url(images/box_bottom.gif) no-repeat left bottom;
	padding: 1px;
	width: 658px;
}

.box .inner_bg {
	background: url(images/inner_bg.png) repeat-x left top;
	padding: 14px;
	width: 628px;
	margin: 0 auto;
}

a.btn_proceed:hover span {
	background: url(images/proceed.png) no-repeat left bottom;
}

#submitLoader {
	text-align: center;
}

#submitLoader p {
	margin: 5px 0 10px;
	color: #5689C9;
}

#submitLoader img {
	margin: 0 auto;
	display: block;
}

/************** **************/