body, td, th {
	font-family: "Tahoma", Verdana, Arial, sans-serif;
	font-size: 12px;
	color: #666;
}
body, html {
	margin: 0 0 0 0;
	padding: 0;
	/*min-width: 800px;*/
    min-width: 500px;
}

a{ 
color:#7FA0DE;
	text-decoration:underline;
	font-weight:normal;
}

a:hover{ 
color:#7FA0DE;
//font-weight:normal;
	text-decoration:none;
}

hr {
border: 1px solid #ffffff;
margin-left: 8px;
margin-right: 8px;
}

h2 {
	padding:0 0 0 0;;
	margin: 0 0 10px 0;
	font-size:12px;
	color:#7FA0DE;
	border-bottom:1px dashed #cccccc;
	}

h3 {
	padding:0;
	margin-top: 10px;
font-size: 12px;
}

h4 {
	font-weight:bold;
	padding:0 0 0 0;;
	margin: 0 0 10px 0;
	font-size:15px;
	color:#333;
	border-bottom:1px dotted #cccccc;
}


.ffield {
 font-family: "Verdana", Verdana, Arial, sans-serif;
	font-size: 11px;
	color: #666;
	padding-top: 2px;
	padding-left: 2px;
}

.bn {
color: #666;
font-size: 11px;
	font-weight: normal;
}

.dno{display:none;}

.shortcut-button {
                border: 1px solid #ccc;
                width: 120px;
                background: #f7f7f7 url('https://cdn.rawgit.com/vmadcdn/css/66cd487a/images/shortcut-button-bg.gif') top left no-repeat;
                display: block;
                margin: 0 0 0 0;
                }

.shortcut-button span {
                border: 1px solid #fff;
                font-size: 10px;
                display:block;
                padding: 9px 5px 5px 5px;
                text-align: center;
                color: #555;
                font-size: 13px;
                line-height: 1.3em;
                }

.shortcut-button span img {
                margin-bottom: 5px;
                }

.shortcut-button:hover {
                background: #fff;
				
                }
				
.shortcut-button span:hover {
				color: #57a000; 
                }

ul.shortcut-buttons-set li {
list-style: none;
                float: left;
                margin: 0 15px 0 0;
				padding: 0 !important;
				background: 0;
                }

.oddRow {background-color:#f7f8f9;}  
       .evenRow {background-color:#e3e8ef;}  


.double_underline
{
	border-bottom: 3px double #555;
}

.align_right {
	text-align:right; }

table.wrapper { 
	width: 100%;
}

table.toptabs { 
padding: 0 0 0 0;
}

table.toptabs a{ 
color:#FFF;
	text-decoration:none;
	font-weight:bold;
}

table.toptabs a:hover{ 
color:#FFF;
font-weight:bold;
	text-decoration:underline;
}

fieldset { border:1px solid #cccccc }

legend {
  padding: 0.2em 0.5em;
  border:1px solid #cccccc;
  font-weight:bold;
  color:#333333;
  font-size:100%;
  text-align:right;
  }

table.header { 
	width: 100%;
	border-bottom:1px solid #000000;
	background: #f7f0de url(https://cdn.rawgit.com/vmadcdn/css/66cd487a/images/bg.gif) repeat;
}

table.content { 
	width: 100%;
	padding: 0 20px 0 0px;
	margin: 10px 0 0 0;
}

.formfield {
 border: 1px solid #CCCCCC; 
 padding: 7px; 
 background-color: #fff; 
}

.button {
background-color: #D6D6D6; 
color: #666666; 
font-weight: bold; 
border: 1px solid #CCCCCC; 
margin-top: 5px; margin-bottom: 5px; 
padding: 5px 7px 5px 7px;
}

table.topmain { 
	margin:0;
	width: 100%;
	padding: 20px 20px 0 0px;
	}

table.container { 
	width: 100%;
	#height:100%;
	padding: 0 0 0 0;
}

td.vservertable{ 
color: #000000;
}

td.bar{ 
color: #000000;
font-size: 10px;
}

td.bardata{ 
color: #666666;
font-size: 10px;
}

td.details_screen{
border-bottom: 1px dashed #9a9a9a;	
line-height:24px;
}

table.container td.main{ 
	padding: 0 0 0 0;
}

table.container td.sidebar { 
	padding: 0 7px 0 10px;
}


table.header td.userinfo {
	padding: 0 0 0 10px;
	font-size: 11px;
	width:50%;
	height:25px;
	color:#FFF;
	background:#4f4f4f;
	text-align:left;
	
}

table.header td.tabs {
	padding: 0 0 0 0;
}

table.header td.userhelp {
	padding: 0 10px 0 0;
	width:50%;
	height:30px;
	color:#FFF;
	background:#4f4f4f;
	
}


table.header td.userinfo a{
	color:#FFF;
	text-decoration:underline;
}

table.header td.userinfo a:hover{
	color:#FFF;
	text-decoration:none;
}

table.help { 
	width: 200px;
}

table.help td a{ 
color:#FFF;
	text-decoration:underline;	
}

table.help td a:hover{ 
color:#FFF;
	text-decoration:none;
}

table.services {
	color: #000000;
    width:100%;
	margin-bottom:30px;
}
table.services img { 
border:none;

}


.sidelink { 
border-bottom:1px dashed #ccc; 
padding:5px;
}

.sidelink a { 
color: #7FA0DE;
text-decoration:underline;
	font-weight:normal;
}

.sidelink a:hover { 
color: #7FA0DE;
text-decoration:none;
	font-weight:normal;
}


table.services a { 
color: #666;
text-decoration:none;
	font-weight:normal;
}

table.services a:hover { 
color: #666;
text-decoration:underline;
	font-weight:normal;
}


.sidemenu{
width: 210px;
padding-top: 20px;
}

.sidemenu .headerbar{
color: white;

margin-bottom: 0;
padding: 5px 0 5px 30px;
}

.sidemenu ul{
list-style-type: none;
margin: 0;
padding: 0;
margin: 0;
}

.sidemenu ul li{
padding-bottom: 2px;
}

.sidemenu ul li a{
color: black;
background: #E9E9E9;
display: block;
padding: 3px 0;
line-height: 17px;
padding-left: 8px;
text-decoration: none;
}

.sidemenu ul li a:visited{
color: black;
}

.sidemenu ul li a:hover{
color: white;
background: black;
}

.sidemenu a 		{ color: #3C8DDF;font-size: 14px;font-weight: bold;text-decoration: none;}
.sidemenu a:hover	{ color: #1B5C9E;text-decoration: underline; }
.sidebar 				{ float: left; width: 210px; padding-top: 10px;}
.sidemenu h3 				{ padding: 10px; font-size: 15px; font-weight: bold; color: #333333; margin: 0px 0px 0px 0px; background-color: #D9E9F9; border: 1px solid #B6D5F3;}	
.sidemenu img 				{ float: left; margin-right: 12px;}
#sidebar ul 				{ padding: 0px; float: left; list-style: none;}
#sidebar li 				{ clear: both; margin: 5px 0px 5px 0px; border-bottom: 1px solid #E6E6E6; padding: 3px 0px 3px 0px;}
#sidebar li:last-child 	{ border-bottom-color: #FFFFFF;}
#sidebar li.last			{ border-bottom-color: #FFFFFF;}

#sidebar p 			 	{ font-size: 11px; color: #999999; font-weight: bold; margin: 0px; padding: 0px;}

.#topbar-container { width: 890px; margin: auto; position: relative;} 
.topbar-warning{background-image: url('https://cdn.rawgit.com/vmadcdn/css/66cd487a/images/topbar/bg.png');background-repeat: repeat-x;height: 53px;font-family: Calibri, Tahoma, Geneva, sans-serif;font-size: 120%;font-weight: bold;z-index: 1000;width: 100%;position: absolute;line-height: 14px;display: none;}
.topbar-warning p {padding: 15px 0 0 0;margin: 0;text-align:center;color: #6e6205;line-height: 14px;}
.topbar-warning .closebutton { background-image: url('https://cdn.rawgit.com/vmadcdn/css/66cd487a/images/topbar/buttonr.png');background-repeat: no-repeat;width: 66px;height: 20px;float: right;margin-top: 10px;padding: 5px 0 0 13px;color: #584F4D;}
.topbar-warning .closebutton:hover{ background-image: url('https://cdn.rawgit.com/vmadcdn/css/66cd487a/images/topbar/buttonr_h.png'); }
.topbar-bg { height: 47px; display:none; }  
.topbar-bg { height: 47px; display:none; }  

#loginerror { 
width: 600px;
background-image: url('https://cdn.rawgit.com/vmadcdn/css/66cd487a/images/error.png'); 
background-repeat: no-repeat; 
background-position: 5px; 
text-align:left;	
margin: 10px 0px 10px 0px;
padding: 5px 5px 5px 45px; 
background-color: #FCDCD2; 
border: 1px solid #F9523E; 
}

#infoboxok { 
background-image: url('https://cdn.rawgit.com/vmadcdn/css/66cd487a/images/ok.png'); 
background-repeat: no-repeat; 
background-position: 5px; 
text-align:left;
margin: 10px 0px 10px 0px;
padding: 5px 5px 5px 45px; 
background-color: #E2FCD2; 
border: 1px solid #9EF93E; 
}

#infoboxwarn { 
background-image: url('https://cdn.rawgit.com/vmadcdn/css/66cd487a/images/warn.png'); 
background-repeat: no-repeat; 
background-position: 5px; 
text-align:left;
margin: 10px 0px 10px 0px;
padding: 5px 5px 5px 45px; 
background-color: #FCF9D2; 
border: 1px solid #F9D43E; 
}

#infoboxerror { 
background-image: url('https://cdn.rawgit.com/vmadcdn/css/66cd487a/images/error.png'); 
background-repeat: no-repeat; 
background-position: 5px; 
text-align:left;
margin: 10px 0px 10px 0px;
padding: 5px 5px 5px 45px; 
background-color: #FCDCD2; 
border: 1px solid #F9523E; 
}

#disabled { 
background-image: url('https://cdn.rawgit.com/vmadcdn/css/66cd487a/images/error.png'); 
background-repeat: no-repeat; 
background-position: 5px; 
text-align:left;
margin: 10px 0px 10px 0px;
padding: 5px 5px 5px 45px; 
background-color: #FCDCD2; 
border: 1px solid #F9523E; 
}

.pagination {
 line-height: 20px;
    word-spacing: 3px;
}

.pagination a {
    text-decoration: none;
   }
.pagination a:hover {
    text-decoration: underline;
   }
.pagination a:selected {
    font-weight: bold;
    text-decoration: underline;
   }
   
/* Print -------------------------------------------------------------------- */
@media print {

	.toggler-c { margin-bottom:25px; }
	.toggler { display: none; }

}

/*************** Notifications ***************/

.notification {
                position: relative;
                margin: 0 0 15px 0;
                padding: 0;
                border: 1px solid;
                background-position: 10px 11px !important;
                background-repeat: no-repeat !important;
                font-size: 11px;
                width: 99.8%;
                }
                

.warning {
                background: #fffbcc url('https://cdn.rawgit.com/vmadcdn/css/66cd487a/images/icons/exclamation.png') 10px 11px no-repeat;
                border-color: #e6db55;
                }

.information {
                background: #dbe3ff url('https://cdn.rawgit.com/vmadcdn/css/66cd487a/images/icons/information.png');
                border-color: #a2b4ee;
                }

.success {
                background: #d5ffce url('https://cdn.rawgit.com/vmadcdn/css/66cd487a/images/icons/tick_circle.png');
                border-color: #9adf8f;
                }

.error {
                background: #ffcece url('https://cdn.rawgit.com/vmadcdn/css/66cd487a/images/icons/cross_circle.png');
                border-color: #df8f8f;
                }

.notification div {
                display:block;
                font-style:normal;
                padding: 10px 10px 10px 36px;
                line-height: 1.5em;
                }

.notification .close {
                font-size:9px;
                position:absolute;
                right:5px;
                top:5px;
                }

blockquote:before, blockquote:after, q:before, q:after {
content:"";
}
blockquote, q {
quotes:"" "";
}
a{
cursor: pointer;
text-decoration:none;
}
br.both{
clear:both;
}
#backgroundPopup{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#000000;
border:1px solid #cecece;
z-index:1;
}
#popup_poll
{
width:100px;
}
#popupContact{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:250px;
width:408px;
background:#FFFFFF;
border:2px solid #cecece;
z-index:2;
padding:12px;
font-size:13px;
}
#popupContact h1{
text-align:left;
color:#6FA5FD;
font-size:22px;
font-weight:700;
border-bottom:1px dotted #D3D3D3;
padding-bottom:2px;
margin-bottom:20px;
}
#popupContactClose{
font-size:14px;
line-height:14px;
right:6px;
top:4px;
position:absolute;
color:#6fa5fd;
font-weight:700;
display:block;
}
#button{
text-align:center;
margin:100px;
}

.bordered-link {
  display: inline-block;
  padding: 8px;
  border: 3px solid #FCB326;
  border-radius: 6px;
  box-shadow:
    0 2px 1px rgba(0, 0, 0, 0.2), 
    inset 0 2px 1px rgba(0, 0, 0, 0.2);
    
  /* Font styles */
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #222;
}

.bordered-link:hover  { border-color: #FDD68B; }
.bordered-link:active { border-color: #FEE8BD; }

.bordered-link-noup {
  display: inline-block;
  padding: 8px;
  border: 3px solid #FCB326;
  border-radius: 6px;
  box-shadow:
    0 2px 1px rgba(0, 0, 0, 0.2), 
    inset 0 2px 1px rgba(0, 0, 0, 0.2);
    
  /* Font styles */
  text-decoration: none;
  font-size: 14px;
  color: #222;
}

.bordered-link-noup:hover  { border-color: #FDD68B; }
.bordered-link-noup:active { border-color: #FEE8BD; }

.block-level {
    width: 420px;
    height: 100px;
    margin: 20px;
    position: relative;
    float: center;
    color: #fff;
    padding: 20px;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
}

.simple-input {
  display: block;
  padding: 5px;
  border: 4px solid #F1B720;
  border-radius: 5px;
  color: #333;
  transition: all 0.3s ease-out;
}

.simple-input:hover { border-radius: 8px; }
.simple-input:focus { 
  outline: none;
  border-radius: 8px; 
  border-color: #EBD292;
}

.drop-shadow.bottom {
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
}

.metro:hover { background: #0AF; }

.metro.three-d {
  position: relative;
  box-shadow: 
    1px 1px #53A7EA,
    2px 2px #53A7EA,
    3px 3px #53A7EA;
  transition: all 0.1s ease-in;
}

.metro.three-d:active { 
  box-shadow: none;
  top: 3px;
  left: 3px;
}

.\_cart {
	display: inline-block;
	width: 128px;
	height: 40px;
	background: url('https://raw.githubusercontent.com/vmadcdn/css/66cd487a/images/add_to_cart.png');
}
.add_to_cart:hover {
	outline: 1px solid gray;
	outline-offset: 2px;
}

.view_cart {
	display: inline-block;
	width: 128px;
	height: 40px;
	background: url('https://raw.githubusercontent.com/vmadcdn/css/66cd487a/images/view_cart.png');
}
.view_cart:hover {
  outline: 1px solid gray;
  outline-offset: 2px;
}
